body {
margin: 0px;
padding: 0px;

box-sizing: border-box;
}


.nav-link {
float: right;
}

a {
font-family: 'Berkshire Swash', cursive;
padding: 10px;
font: #ffe4c4;
background-color: teal;
}

b {
font-family: 'Berkshire Swash', cursive;
}

h1 {
font-family: 'Berkshire Swash', cursive;
font-weight: bold;
color: teal;
}

p {
font-family: 'Grand Hotel', cursive;
}


.btn-primary {
    margin-bottom: 20px;
}

.row {
    padding: 20px;

    
}

 @media screen and (max-width: 992px) {
    body {
       background-color: red; 
    }
  }

 