body {
margin: 0px;
padding: 0px;

box-sizing: border-box;
}


.nav-link {
float: right;
font-weight: bold;
background-color: whitesmoke;
}

a { 
font-family: 'Berkshire Swash', cursive;
padding: 10px;
font: #ffe4c4;
background-color: teal;
}  

h1 {
font-family: 'Berkshire Swash', cursive;
font-weight: bold;
color: teal;
}

p {
font-family: 'Grand Hotel', cursive;
}


.btn-primary {
    margin-bottom: 20px;
}

 

footer {
    text-align: center;
    font-weight: bold;
    color: teal;
    padding-bottom: 20px;

}
 @media screen and (max-width: 992px) {
    body {
       width: 100%;
    }
  }

 